h1 {
    color: #46484c;
    text-align: center;
}
h3 {
    color: #2d426b;
    text-align: center;
}
body {
    background-color: #d3bfab;
}
button {
    color: #fff;
    background-color: #025157;
}