h1 {
    color: #46484c;
    text-align: center;
}
h3 {
    color: #2d426b;
    text-align: center;
}
h2 {
    color: #e29b15;
    text-align: center;
}
body {
    background-color: #c3dce7;
}
button {
    color: #fff;
    background-color: #025157;
    
}
